body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
padding:20px;
transition:0.3s;
}

.light{
background:#f1f5f9;
color:black;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.email-box{
background:#1e293b;
padding:15px;
border-radius:10px;
display:flex;
gap:10px;
flex-wrap:wrap;
align-items:center;
}

.controls{
margin:15px 0;
display:flex;
gap:10px;
}

input{
padding:8px;
border-radius:6px;
border:none;
}

button{
padding:8px 12px;
border:none;
border-radius:6px;
cursor:pointer;
background:#3b82f6;
color:white;
}

button:hover{
opacity:0.8;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
border-bottom:1px solid #334155;
}

tr:hover{
background:#1e293b;
}

.viewer{
margin-top:20px;
padding:15px;
border-radius:10px;
background:#1e293b;
display:none;
}

.otp{
font-size:22px;
color:#22c55e;
font-weight:bold;
}